<p>
  <strong>Title:</strong>
  <%= @test.title %>
  <br>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to 'Edit', edit_test_path(@test) %> |
  <%= link_to 'Back', tests_path %>
</p>

<table>
  <tr>
    <th>Question</th>
  </tr>

  <%= render partial: 'questions/question',
             collection: @test.questions %>
</table>
