<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :title %></br>
    <%= form.text_field :title %></br>
  </p>
  <br>
  <p>
    <%= form.label :level %></br>
    <%= form.number_field :level %></br>
  </p>
  <br>
  <p>
    <%= form.label :category_id %></br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %></br>
  </p>
  <br>
  <p>
    <%= form.label :creator_id %></br>
    <%= form.collection_select :creator_id, User.all, :id, :login, prompt: true %></br>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
