<h1>Create New Test</h1>

<%= render 'form' %>

<p>
  <%= link_to 'Back', tests_path %>
</p>
<%# <%= form_with model: @test, local: true do |form| %1> %>
<%#   <p> %>
<%#     <%= form.label :title %1></br> %>
<%#     <%= form.text_field :title %1></br> %>
<%#   </p> %>
<%#   <br> %>
<%#   <p> %>
<%#     <%= form.label :level %1></br> %>
<%#     <%= form.number_field :level %1></br> %>
<%#   </p> %>
<%#   <br> %>
<%#   <p> %>
<%#     <%= form.label :category_id %1></br> %>
<%#     <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %1></br> %>
<%#   </p> %>
<%#   <br> %>
<%#   <p> %>
<%#     <%= form.label :creator_id %1></br> %>
<%#     <%= form.collection_select :creator_id, User.all, :id, :login, prompt: true %1></br> %>
<%#   </p> %>
<%#   <p> %>
<%#     <%= form.submit %1> %>
<%#   </p> %>
<%# <% end %1> %>

<%# <form action="/tests" method="post"> %>
<%#   <input name="authenticity_token" value="<%= form_authenticity_token %1>", type="hidden"> %>

<%#   <p> %>
<%#     <label for="test-title">Title:</label> %>
<%#     <input type="text" name="test[title]" id="test-title"> %>
<%#   </p> %>
<%#   <br> %>
<%#   <p> %>
<%#     <label for="test-level">Level:</label> %>
<%#     <input type="text" name="test[level]" id="test-level"> %>
<%#   </p> %>
<%#   <br> %>
<%#   <input type="submit" value="Create"> %>
<%# </form> %>
